body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, sans-serif;
    background-color: #f9f9f9;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}